/* Modal */

    #modal {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: 2;
    }

    #modal > * {
        z-index: 30;
        position: relative;
        top: 50%;
        bottom: 50%;
    }

/* Monster form */

    .AC-normal {
        background: none;
        transition: background 0.5s;
    }

    .AC-slightly-too-high {
        background: rgb(243, 184, 20);
        border: 2px solid rgb(212, 157, 3);
        transition: background 0.5s;
    }

    .AC-way-too-high {
        background: rgb(189, 2, 2);
        border: 2px solid rgb(145, 0, 0);
        transition: background 0.5s;
    }

/* Navbar */

    #navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid gray;
        padding: 0.5em;
    }

    #navbar-left-container > *, #navbar-right-container > *{
        margin-right: 0.5em;
    }

    #navbar-left-container ul {
        display: flex;
        list-style: none;
    }

    #navbar-container button {
        background: none;
        border: none;
    }